---
---

@import "{{ site.theme }}";
.page-header {
    color: white;
    text-align: center;
    background-color: #4a4a4a;
    background-image: linear-gradient(120deg, #3b6cdb, #ac30fb);
}
body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #C4C4C4;
    background-color: #262626;
}

.main-content code {
    padding: 2px 4px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.9rem;
    color: #c7c7c7;
    background-color: #545454;
    border-radius: 0.3rem;
}
.highlight {
    background-color: #262626;
}
.main-content .highlight pre, .main-content pre {
    padding: 0.8rem;
    overflow: auto;
    font-size: 0.9rem;
    line-height: 1.45;
    border-radius: 0.3rem;
    -webkit-overflow-scrolling: touch;
    background-color: #1c1f22;
}
.highlight .kd, .highlight .kc, .highlight .k, .highlight .kv, .highlight .kn, .highlight .kt {
    color: #59b1e2;
    font-weight: bold;
}
.highlight .o, .highlight .nn, .highlight .nd{
    color: #cdcdcd;
    font-weight: bold;
}
.highlight .n, .highlight .na, .highlight .nf {
    color: #b1ceff;
}
.highlight .nc {
    color: #b13b3b;
    font-weight: bold;
}.highlight .nc {
    color: #b13b3b;
    font-weight: bold;
}
.highlight .s {
    color: #b13b3b;
    font-weight: bold;
}
